.c-button {
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-color: #212121;
	width: 100%;
	border-radius: 5px;
	padding: 1em;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border: 1px solid #212121;
	transition: 0.4s all ease-in-out;

	&__search {
		&:hover {
			background-color: #fff;
			color: #212121;
		}

		&--clear {
			background-color: #fff;
			color: #212121;

			&:hover {
				background-color: #212121;
				color: #fff;
			}
		}
	}

	&__option {
		width: 50%;
		margin: 0 auto;
		font-weight: bold;
		&:hover {
			background-color: #fff;
			color: #212121;
		}
	}

	&--back {
		display: block;
	}

	&__login {
		& span {
			padding-left: 10px;
		}
	}
}
